body {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.highScores {
    font-size: 1.25em;
    text-align: left;
    list-style-position: outside;
}

.highScores li {
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Audiowide", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    text-align: left;
}

h3 {
    font-size: 1.45em;
}

.container .navbar .container-fluid {
    background-color: #eee;
    color: #222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.instructions {
    text-align: left;
}

.arrows {
    text-align: left;
}

.arrows p {
    text-align: center;
}

.arrows p {
    margin-bottom: 0;
    font-size: 20px;
}